* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    /*font-size: 10px;*/
    -webkit-tap-highlight-color: transparent;
}

body {
    overflow-x: hidden;
    font-family: "Proxima Nova", "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

a, a.active, a:active, a:focus, a:hover {
    outline: none;
}

.navbar:before, .navbar:after {
    content: " ";
    display: table;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.navbar:after {
    clear: both;
}

::selection {
    text-shadow: none;
    background: #0C9EBD;
}

@media (min-width: 992px){
	.navbar-custom {
	    background-color: transparent;
	    padding: 25px 0;
	    -webkit-transition: padding 0.3s;
	    -moz-transition: padding 0.3s;
	    transition: padding 0.3s;
	    border: none;
	}

	.container > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-header, .container-fluid > .navbar-collapse {
	    margin-right: 0;
	    margin-left: 0;
	}

}

.navbar-custom {
    background-color: transparent;
    border-color: transparent;
}

.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}

@media (min-width: 768px) {
	.container {
	    width: 750px;
	}
}

@media (min-width: 992px) {
	.navbar-fixed-top, .navbar-fixed-bottom {
	    border-radius: 0;
	}
}

.navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

@media (min-width: 992px) {
	.navbar {
	    border-radius: 4px;
	}
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}


@media (min-width: 992px) {
	.container {
	    width: 970px;
	}

	.container > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-header, .container-fluid > .navbar-collapse {
	    margin-right: 0;
	    margin-left: 0;
	}

	.navbar-header {
	    float: left;
	}

	.navbar-custom .navbar-collapse {
	    background-color: transparent;
	}

	.navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
	    padding-left: 0;
	    padding-right: 0;
	}

	.navbar-collapse.collapse {
	    display: block !important;
	    height: auto !important;
	    padding-bottom: 0;
	    overflow: visible !important;
	}

	.navbar-collapse {
	    width: auto;
	    border-top: 0;
	    box-shadow: none;
	}

	.navbar-right {
	    float: right !important;
	    margin-right: -15px;
	}

	.navbar-nav {
	    float: left;
	    margin: 0;
	}

	.navbar-nav > li {
	    float: left;
	}

	.navbar-nav > li > a {
	    padding-top: 15px;
	    padding-bottom: 15px;
	}

}

@media (min-width: 1200px) {
	.container {
	    width: 1170px;
	}
}

.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.nav > li {
    position: relative;
    display: block;
}

.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.hidden {
    display: none !important;
}

.container > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-header, .container-fluid > .navbar-collapse {
    margin-right: -15px;
    margin-left: -15px;
}

.navbar-custom .navbar-toggle {
    background-color: white;
    /*border-color: white;*/
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: #333333;
    font-size: 12px;
    margin-top: 14px;
    margin-bottom: 13px;
}

.navbar-default .navbar-toggle {
    border-color: #ddd;
}

.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.navbar-custom .navbar-brand {
    display: inline-block;
    padding: 9px 0 0 15px;
}

.navbar-custom .navbar-brand > img {
    width: 200px;
    height: 48px;
}

.navbar-brand > img {
    display: block;
}

img {
    vertical-align: middle;
}

img {
    border: 0;
}

.navbar-custom .navbar-collapse {
    border-color: rgba(255, 255, 255, 0.98);
    max-height: initial;
    background-color: #64D3B2;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
}

.navbar-custom .navbar-nav > .active a {
    border-radius: 0;
    color: #333333;
    background-color: white;
}

.navbar-custom .nav .dropdown .dropdown-menu li a, .navbar-custom .nav li a {
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    color: white;
}

